<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Clinnic Ticketing</title>
    <!-- Bootstrap CSS (Bootstrap 5) -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    
    <style>
        tr {height : 20px }
    </style>
</head>
<body>
    
    <%- include('header') %>
    <script src="jquery/dist/jquery.min.js"></script>
    <div class="container">
        <div class="row"><h1>Manajemen Cabang</h1></div>
        <div class="row mb-2">
            <form >
                <div class="mb-2 mt-3 row">
                    <label for="branchcode" class="col-sm-2 col-form-label">Branch Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="branchcode" value="<%=cabang.branchCode%>">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="nama" value="<%=cabang.nama%>">
                    </div>
                </div>       
                <div class="mb-2 row">
                    <label for="kota" class="col-sm-2 col-form-label">Kota</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="kota" value="<%=cabang.kota%>">
                    </div>
                </div>     
                <div class="mb-2 row">
                    <label for="propinsi" class="col-sm-2 col-form-label">Propinsi</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="propinsi" value="<%=cabang.propinsi%>">
                    </div>
                </div>  
                <div class="row">
                    <div class="mt-3 mb-3">
                        <button type="button" class="btn btn-primary me-2" id="bt_save">Save</button>
                        <button type="button" class="btn btn-primary me-2" id="bt_clear">Clear</button>
                    </div> 
                </div>
            </form>
        </div>
        
        <div class="row col-md-12 shadow p-3 mb-5 rounded bg-light border-top">
            
            <table id="myTable" class="display compact">
                <thead>
                    <tr style="background-color: rgb(180, 180, 180);" class="mt-3">
                        <th width="80px">Branch Code</th>
                        <th width="150px">Nama</th>
                        <th width="100px">Kota</th>
                        <th width="100px">Propinsi</th>
                        <th width="80px">Aksi</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <% 
                    rows.forEach((row)=>{
                        // data = row.stringify();
                        %>
                        <tr>
                            <td><%= row.branchCode %></td>
                            <td><%= row.nama %></td>
                            <td><%= row.kota%></td>
                            <td><%= row.propinsi%></td>
                            <td>
                                <button class="btn" onclick="edit('<%=row.branchCode%>')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                                <button class="btn" onclick="del('<%=row.branch%>')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <%
                    })    
                        %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('footer') %>
    <script>
        $(document).ready(()=>{
            $('#myTable').DataTable();

        })
        $('#bt_save').on("click",()=>{
            let data = {
                "branchCode": $('#branchcode').val(),
                "nama": $('#nama').val(),
                "kota": $('#kota').val(),
                "propinsi": $('#propinsi').val()
            }
            console.log(data);
            $.ajax({url:'/user', 
                    data : {
                        "branchCode": $('#branchcode').val(),
                        "nama": $('#nama').val(),
                        "kota": $('#kota').val(),
                        "propinsi": $('#propinsi').val()
                        }, 
                    type: 'POST',
                    success: (res)=>{

                          alert(res);
                        window.location.reload();
                        }
                    })
            

        });
        $('#bt_clear').on("click",()=>{
            $('#branchCode').val('');
            $('#nama').val('');
            $('#kota').val('');
            $('#propinsi').val('');
            $('#branchcode').focus();
            // console.log('clear')
        })

        function edit(branchCode){
            window.location.replace('/cabang?branchcode='+branchCode);
        }
        function del(branchcode){
            if(confirm("Press OK to delete!")) {
                $.ajax({ url: '/cabang/delete?branchcode='+branchcode, 
                        type: "GET",
                        success : (res)=>{
                            alert(res);
                            window.location.reload();
                        }});
            }
            
        }

    </script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    
    <!-- Bootstrap JS (Bootstrap 5) -->
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
