<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IT Clinnic Ticketing Queue</title>
        <!-- page icon -->
        <!-- <link rel="icon" href="/public/imgs/logo.png" type="image/x-icon"> -->
        <!-- include latest bootstrap 5 styles -->
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/public/css/queue.css">
        <!-- include latest jquery -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="jquery.marquee/jquery.marquee.min.js"></script>        
        <!-- include latest bootstrap 5 javascript -->
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        
    </head>
    <body>

            <div id="videos" >
                <video id="video" autoplay controls muted class="position-absolute top-0 start-0">
                    <% for(var i=0; i<videos.length; i++) { %>
                        <source src="<%= videos[i] %>" type="video/mp4">
                    <% } %>
                    Your browser does not support the video tag.
                </video>
            </div>             
            <div class="scrolling_text marquee">
                <p>Scrolling Text</p>
            </div>
            <div id="clock"><p id="clock_text">10:10</p></div>
            <!-- <div class="logo">
                <img src="public/imgs/logo.png" alt="" srcset="">
            </div> -->
            <div class="touch_text soft-blink">Touch the screen to START</div>
           
            <div  id="btn_survey">
                SURVEY
            </div> 

            <div id="survey" class="icon-container">
                <div>
                    <img src="/public/imgs/smileys/Sangat Puas.png" alt="Sangat Puas">
                    <p class="icon-text">Sangat Puas</p>
                </div>
                <div>
                    <img src="/public/imgs/smileys/Puas.png" alt="Puas">
                    <p class="icon-text">Puas</p>
                </div>
                <div>
                    <img src="/public/imgs/smileys/Tidak Puas.png" alt="Tidak Puas">
                    <p class="icon-text">Tidak Puas</p>
                </div>
                <div>
                    <img src="/public/imgs/smileys/Sangat Tidak Puas.png" alt="Sangat Tidak Puas">
                    <p class="icon-text">Sangat Tidak Puas</p>
                </div>
            </div>

            <div class="custom-dialog" id="customDialog">
                <div class="centered-buttons">
                    <% config.services.forEach(service => { 
                        let url = service.url ; 
                        %>
                        <button class="btn btn-primary" onclick="gotoURL('<%=url%>', '<%=config.cabang%>','<%=config.user%>')"><%=service.name%></button>
                    <% }) %>
                </div>
            </div>
            
            <div id="layer"></div>

        
        <script>

            // jquery on document ready
            $(document).ready(()=>{

                // make btn_survey always on top
                $("#btn_survey").css("z-index", 1000);
                // make survey hidden
                $("#survey").hide();

                // set the clock to current time
                var clock = document.getElementById("clock_text");
                var date = new Date();
                var time = date.getHours() + ":" + date.getMinutes();
                clock.innerHTML = time;
                // set the clock to update every 1 second
                setInterval(function() {
                    var date = new Date();
                    var time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                    clock.innerHTML = time;
                }, 1000);

                var serving = false;
                console.log('Serving : ', serving)
                // hide btn_survey
                $("#btn_survey").hide();

                // play the videos in sequence
                var video = document.getElementById("video");
                var sources = video.children;
                var i = 0;

                video.onended = function() {
                    next();
                };
                
                $('#layer').on('click', function() {
                    console.log(serving);
                    if (!serving) {
                        // show the customDialog if it is hidden, and hide when it is shown
                        if ($("#customDialog").css("display") == "none") {
                            $("#customDialog").show();
                            $(".welcome").hide();
                            $(".touch_text").hide();}
                        else {
                            $("#customDialog").hide(1000);
                            $(".welcome").show();
                            $(".touch_text").show(); 
                        }    
                    }
                });

                
                $('.marquee').marquee({
                    //duration in milliseconds of the marquee
                    duration: 5000,
                    //gap in pixels between the tickers
                    gap: 50,
                    //time in milliseconds before the marquee will start animating
                    delayBeforeStart: 0,
                    //'left' or 'right'
                    direction: 'left',
                    //true or false - should the marquee be duplicated to show an effect of continues flow
                    duplicated: true
                });

                // btn_survey onclick
                $("#btn_survey").on('click', ()=>{
                   // hide btn_survey
                     $("#btn_survey").hide();
                    // show survey
                    $("#survey").show();
                   serving = false; 
                })

                function next() {
                    i = ++i % sources.length;
                    video.src = sources[i].src;
                    video.play();
                }
            })

            
            function gotoURL(url, cabang, user){
                let targetURL = url + "&user=" + user + "&cabang=" + cabang;
                console.log(targetURL);
                $.get(targetURL, function(data){
                    alert("Nomor Tiket anda : " + data.new_tix);
                    console.log(data.new_tix);
                    $("#customDialog").hide(1000);
                    $(".welcome").show();
                    $(".touch_text").show(); 
                    service = true;
                    // show btn_survey
                    $("#btn_survey").show();                    
                })
            }

            function printTicket(ticket){
                var iframe = document.createElement('iframe');
                document.body.appendChild(iframe);
                iframe.style.display='none';
                var doc = iframe.contentWindow.document;
                
                
                doc.open();
                doc.write('');
            }
        </script>
    </body>
</html>